<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="apple-touch-icon" sizes="180x180" href="../../../static/img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../../../static/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../../../static/img/favicon/favicon-16x16.png">
	<link rel="stylesheet" href="../../../static/css/patients.css">
	<link rel="stylesheet" href="../../../static/css/surveys.css">
    <script type="module" src="../../../static/js/surveys.js"></script>
	<title>Обследования</title>
</head>
<body>
<nav>
	<ul>
		<li>
			<a href="{% url 'Patients_page' %}">Пациенты</a>
		</li>
		<li>
			<a href="{% url 'survey_page' %}">Обследования</a>
		</li>
		<li>
			<a href="{% url 'record_page' %}">Запись</a>
		</li>
		<li>
			<a href="{% url 'logout_page' %}">Выйти</a>
		</li>
	</ul>
</nav>
<section class="surveys">
	<div class="container">
		<div class="patients-header">
			Список обследований
		</div>
		<div class="add-survey">
			<div class="add-patient-header">Добавить обследование</div>
			<input id="Name" type="text" placeholder="Название обследования" required>
			<input id="create" type="button" value="Добавить">
		</div>
		<div class="list-of-surveys">
			<table>
				<tr id="beforeDelete">
					<th class="first-column-th">№</th>
					<th class="second-column-th">Название обследования</th>
					<th class="third-column-th">Операции</th>
				</tr>
			</table>
		</div>
	</div>
</section>
</body>
</html>